---
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Footer from '../components/Footer.astro';

const title = `Triptych: Blog`;
let description = `My blog on Replit`;

interface Frontmatter {
  title: string;
  publishDate: string;
  published?: boolean;
  description?: string;
}
const unsortedPosts = await Astro.glob<Frontmatter>(['./posts/*.md','./posts/*.mdx']);

const posts = unsortedPosts.sort(function (a, b) {
  if (a.frontmatter.publishDate === "future") return -Date.now() + 10;
  return (
    new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
  );
}).filter(post => typeof post.frontmatter.published === 'undefined' || !!post.frontmatter.published);
---

<html lang="en">

<head>
  <BaseHead title={title} description={description} />
</head>

<body>
  <main class="max-w-3xl w-full mx-auto py-20 p-4">
    <section class="border-b mb-8">
      <h1 class="text-center mx-auto text-3xl font-medium text-neutral-800">{title}</h1>
    </section>
    <section aria-label="Blog post list" class="space-y-2">
      {posts.map(({ url, frontmatter }) => (
      <BlogPostPreview title={frontmatter.title} description={frontmatter.description ?? "" }
        publishDate={frontmatter.publishDate} url={url ?? "" } />
      ))}
    </section>
  </main>
<footer>
  <Footer />
</footer>
</body>

</html>